[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Exec=litetran
Name=LiteTran
GenericName=The powerful translator on Qt
Terminal=false
Categories=Office;Dictionary;
InitialPreference=9
Icon=litetran
